.site-header {
    background-color: #1bc9b1;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #0a5249 2px 5px 5px;

}

body{
    margin: 0;
}

.course-link{
    color: #ecfdf9;
}

.parting-line {
    text-align: end;
}

.name {
    text-align: center;
}

.connect{
    text-align: center;
    position: relative;
    border: 5px;
    
}